.ranmaya {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  padding: 0.5em;
}

.heading {
  margin-bottom: 0.1vh;
}

.verticalLine {
  margin-top: 0; 
  margin-bottom: 1vh;
}

.topic {
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

a:hover {
  color: #1b94b3 !important;
}

.githubIconLink :hover {
  color: #646464 !important;
}

.linkedInIconLink :hover {
  color: #0e76a8 !important;
}

.instagramIconLink :hover {
  color: #e1306c !important;
}

.facebookIconLink :hover {
  color: #3b5998 !important;
}

/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.5em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
